.leftContainer{
    min-width: 30%;
    border-right: 1px solid gray;
    overflow-y: scroll;
}

.card{
    border: 1px solid rgb(200, 192, 192);
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    max-height: 150px;
    overflow: hidden;
}

.active{
    background-color: gray;
}

.card:hover{
    cursor: pointer;
    background-color: rgb(185, 183, 183);
}

.editBtn,.deleteBtn{
    padding: 5px;
    border-radius: 10px;
    min-width: 60px;
    max-height: 30px;
    min-height: 30px;
    border: none;
}

.editBtn:hover,.deleteBtn:hover{
    cursor: pointer;
    border: solid black;
}

.deleteBtn{
    background-color: brown;
    color: white;
}

.dropdown{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}




















